extends ./templates/layout.pug

mixin orders(outstandingInvoices) 
    div.col-sm-5(style="text-align:center;margin:10px; padding:10px; border: 2px solid black;border-radius: 5px;")
        div.col-sm-12(style="text-align:center;float:left;")
            p InvoiceNum: #{outstandingInvoices.number}
            p User: #{outstandingInvoices.user}
            p Date: #{outstandingInvoices.date}
        div.col-sm-12(style="text-align:center;float:right;")
            button.order(id=outstandingInvoices.number + " orderBtn") ordered
        div.col-sm-12(style="text-align:center;")
            table(border="1" style="margin:auto;")
                tr
                    th Title
                    th ISBN
                    th Copies
                each val, index in outstandingInvoices.title 
                    tr
                        td #{outstandingInvoices.title[index]}
                        td #{outstandingInvoices.books[index]}
                        td #{outstandingInvoices.copies[index]}

mixin authors(authorsData)
    tr(style="padding:5px;")
        td.populartd #{authorsData.authors}
        td.populartd #{authorsData.sum_cop}

mixin books(booksData)
    tr(style="padding:5px;")
        td.populartd #{booksData.ISBN}
        td.populartd #{booksData.title}
        td.populartd #{booksData.sum_cop}

mixin publishers(publishersData)
    tr(style="padding:5px;")
        td.populartd #{publishersData.publisher}
        td.populartd #{publishersData.sum_cop}

block content 
    div.mainTop
        div(class = "col-sm-6 ProfilePicDiv")
            img.ProfilePic(src="/img/test2.jpg" alt="Admin Picture")
        div(class = "col-sm-6 ProfileDiv")
            h2.DbHeader Hello, Admin
            <!-- Trigger/Open The Modal -->
            button#AddBookBtn.DbButton Add New Book

    div.mainMiddle
        div.col-sm-12(style="text-align:center;")
            h2.DbHeader Update Book Counts
        div#updateCopiesDiv.col-sm-12(style="text-align:center;")
            div.col-sm-6(style="text-align:center;")
                label(for='ISBNUpdateCount') ISBN:
                input#ISBNUpdateCount.form-control(type='text', placeholder='ISBN to update count' name='ISBNUpdateCount')
            div.col-sm-6(style="text-align:center;")
                label(for='copiesToAdd') Number of copies to be added:
                input#copiesToAdd.form-control(type='text', placeholder='Number of copies to add' name='copiesToAdd')    
            div(class="form-group col-sm-12" style="text-align:center;")
                button.btn.btn-primary(style="padding-left:60px;padding-right:60px;margin-top:30px;" onclick="updateBookCount()") Update Book Copies
              
    div.mainMiddle
        div.col-sm-12(style="text-align:center;")
            h2.DbHeader Orders
        if outstandingInvoices
            each val, index in outstandingInvoices 
                +orders(val)
        else
            h2 There seems to be no orders.

    div.mainMiddle
        div.col-sm-6(style="text-align:center;")
            h2.DbHeader Statistics
        div#StatisticsFilter.col-sm-6(style="display:inline-flex;top:2em;")
            div(style="display:inline;margin:5px;")
                p(style="display:inline;") Show Top
                input#topPopularCount(style="display:inline;" type='number', placeholder='5' name='TopPopularCount')
                p(style="display:inline;") entries
            div(style="display:inline;")
                button#topPopularCount.btn.btn-primary(style="padding-left:10px;padding-right:10px;display:inline;" onclick="ShowPopularCount()") Filter

    div.mainBottom
        div(class="panel-group col-sm-4" style="margin-bottom:15px;")
          div(class="panel panel-default")
            div.panel-heading
              h4.panel-title
                a(data-toggle="collapse" href="#collapsePopularBooks") Most Popular Books
            div(id="collapsePopularBooks" class="panel-collapse collapse")
                table(style="margin:auto;")
                    if booksData
                        tr
                            th.populartd ISBN
                            th.populartd Title
                            th.populartd Copies
                        each val, index in booksData 
                            +books(val)
                    else
                        p There seems to be not enough books.

        div(class="panel-group col-sm-4" style="margin-bottom:15px;")
          div(class="panel panel-default")
            div.panel-heading
              h4.panel-title
                a(data-toggle="collapse" href="#collapsePopularAuthors") Most Popular Authors
            div(id="collapsePopularAuthors" class="panel-collapse collapse")
                table(style="margin:auto;")
                    if authorsData
                        tr
                            th.populartd Authors
                            th.populartd Copies
                        each val, index in authorsData 
                            +authors(val)
                    else
                        p There seems to be not enough books.
        
        div(class="panel-group col-sm-4" style="margin-bottom:15px;")
          div(class="panel panel-default")
            div.panel-heading
              h4.panel-title
                a(data-toggle="collapse" href="#collapsePopularPublishers") Most Popular Publishers
            div(id="collapsePopularPublishers" class="panel-collapse collapse")
                table(style="margin:auto;")
                    if publishersData
                        tr
                            th.populartd Publishers
                            th.populartd Copies
                        each val, index in publishersData 
                            +publishers(val)
                    else
                        p There seems to be not enough books.

    <!-- The Modal -->
    div(id="NewBookModal" class="modal")

      <!-- Modal content -->
      div.modal-content
        span.close x
        form#NewBookForm(action="javascript:void(0);")
            br
            br
            div(class="form-group col-sm-6")
                label(for='ISBN') ISBN:
                input#ISBN.form-control(type='text', placeholder='ISBN' name='ISBN')
            div(class="form-group col-sm-6")
                label(for='Title') Title:
                input#Title.form-control(type='text', placeholder='Title' name='Title')
            div(class="form-group col-sm-6")
                label(for='authors') Authors:
                input#authors.form-control(type='text', placeholder='Authors' name='authors')
            div(class="form-group col-sm-6")
                label(for='publisher') Publisher:
                input#publisher.form-control(type='text', placeholder='Publisher' name='publisher')
            div(class="form-group col-sm-6")
                label(for='year_pub') Year of Publication:
                input#year_pub.form-control(type='number', placeholder='Year of Publication' name='year_pub')
            div(class="form-group col-sm-6")
                label(for='copies') Copies:
                input#copies.form-control(type='number', placeholder='Copies to be added' name='copies')
            div(class="form-group col-sm-6")
                label(for='price') Price:
                input#price.form-control(type='number', placeholder='Price' name='price')
            div(class="form-group col-sm-6")
                label(for='tag') Tag:
                input#tag.form-control(type='text', placeholder='Tags' name='tag')
            div(class="form-group col-sm-6")
                label(for='format') Format:
                input#format.form-control(type='text', placeholder='Hardcopy or Softcopy' name='format')
            div(class="form-group col-sm-6")
                label(for='subject') Subject:
                input#subject.form-control(type='text', placeholder='E.g. Science, Computers, etc' name='subject')
            div(class="form-group col-sm-6")
                label(for='image') Image:
                input#image.form-control(type='text', placeholder='Image URL' name='image')
            div(class="form-group col-sm-12" style="text-align:center;")
                button.btn.btn-primary(style="padding-left:60px;padding-right:60px;margin-top:30px;" onclick="addBook()") Add Book

block scripts
    script(src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="/js/masonry.js")
    script(src="/js/get-shit-done.js")
    script(src="/js/index.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js") 
    script(src="/js/admin.js")