extends ./templates/layout.pug

block content 
    div.main
        div.container-fluid
            div.col-sm-10
                img(src=data.image)
                h2 #{data.title}
                p Authors: #{data.authors}
                p ISBN: #{data.ISBN}
                p Publisher: #{data.publisher}
                p Year Published: #{data.year_pub}
                p Available Copipes: #{data.copies}
                p Price: #{data.price}
                p Format: #{data.format}
                p Subject: #{data.subject}
                p Tag: #{data.tag}

                h3 Give a review!
                textarea(rows="4" cols="50" width="100%" id="review_text")
                br
                input(type="submit" value="Submit Review")
                h3 Feedback

block scripts
    script(src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="/js/masonry.js")
    script(src="/js/get-shit-done.js")
    script(src="/js/index.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js") 