extends ./templates/layout.pug

block content 
    div.main
        div.container-fluid
            div.col-sm-10
                h1#title #{data.title}
                table 
                    tbody
                        tr
                            td: img(src=data.image width="300px" height="400px")
                            td
                                p Authors: #{data.authors}
                                p#isbn ISBN: #{data.ISBN}
                                p Publisher: #{data.publisher}
                                p Year Published: #{data.year_pub}
                                p#avail_copies Available Copies: #{data.copies}
                                p Price: #{data.price}
                                p Format: #{data.format}
                                p Subject: #{data.subject}
                                p Tag: #{data.tag}
                if user                
                    h3 Add to Cart: 
                    p Number of Copies: 
                    input(type="text" id="copies") 
                    br
                    button(class="w3-btn w3-dark-grey" onClick="addToCart()") Add to Cart

                    h4#added(style="display:none;") Successfully Added to Cart!:)

                    h3#recommendations(style="display:none;") Book Recommendations
                        br
                        br
                        table(style="table-layout:fixed;" width ="100%")
                            tbody
                                if book_rec
                                    tr
                                        each val, index in book_rec 
                                            td
                                                a(href="/book/"+val.ISBN): img.ProfilePic(src=val.image)
                                                br
                                    tr
                                        each val in book_rec
                                            td 
                                                p #{val.title}
                                else 
                                    p Oops, there seems to be no recommendations! 

                    h4#not_enough_copies(style="display:none;") Not enough copies available :(     
                    h4#enter_number(style="display:none;") Please enter a valid numeric!                 
                    h4#negative_order(style="display:none;") Please enter a positive number!
                    h4#invalid_order(style="display:none;") Please enter a valid number!

                    h3 Give a review!
                    textarea(rows="4" cols="50" width="100%" id="review_text")
                    br
                    select#rating(style="display:block;")
                        option(value="1") 1 
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10                    

                    button(class="w3-btn w3-dark-grey" onClick="submitReview()") Submit Review
                    p(id="submitReviewFailure" style="color:red")
                else
                    h3 Please sign in to place an order!
                

                h3 Feedback
                    br
                    div(style="display:inline-flex;top:2em;")
                        select#feedback_filter(class="w3-select w3-medium")
                            option(value="0") Show no feedback 
                            each val, index in feedback_data
                                option(value=(index+1)) Show top #{index+1} entries 
                    button(class="w3-btn w3-dark-grey w3-medium" onClick="showEntries()") Submit
                    ul(class="w3-ul w3-card-4")
                    each val, index in feedback_data
                        li(id="feedback"+index class="w3-padding-16" style="list-style-type:none;")
                            span(class="w3-padding w3-margin-right w3-medium" style="float:right;") #{val.avg_rate}
                            span(onclick="plusOne('"+val.user+"')" class="w3-closebtn w3-padding w3-margin-right w3-medium") + 
                            span(onclick="minusOne('"+val.user+"')" class="w3-closebtn w3-padding w3-margin-right w3-medium") - 
                            img(src="/img/icon_account.png" class="w3-left w3-circle w3-margin-right" style="width:60px")
                            span(class="w3-large"): b Feedback by #{val.user}
                            br
                            span(class="w3-small"): i #{val.date}
                            br
                            span(class="w3-large") 
                                select.review(style="display:block;" score=val.score)
                                    option(value="1") 1 
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10       
                            br
                            span(class="w3-large") #{val.comment}


    div#user(style="display:none;") #{user}
    div#numberOfFeedback(style="display:none;") #{feedback_data.length}

block scripts
    script(src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="/js/masonry.js")
    script(src="/js/get-shit-done.js")
    script(src="/js/index.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js") 
    script(src="/js/jquery.barrating.min.js")
    script(src="/js/book.js")
    //- script(type="text/javascript") $('#rating').barrating({theme:'fontawesome-stars'});